<section class="hero is-black is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">

            <h1 class="title is-size-3 has-text-white">Click to download candidates list as CSV</h1>
            <%= link_to candidates_generate_csv_path do %>
                <button class="button is-outlined is-large is-light">Download</button>
            <% end %>

        </div>
    </div>
</section>
